<% for(const assignments of data){ %>
    <%if(assignments.asignacion.length !=0){%>

        <% for(const v of assignments.asignacion){ %>
            <tr>
            <td><%=assignments.numero_consultorio%></td>
            <td><%=assignments.piso%></td>
            <td><%=v.fecha%></td>
            <td><%=v.horario%></td>
        </tr>
        <%}%>
        
    
    <%}%>
<%}%>