<!DOCTYPE html>
<html>
    <head>
        <%-include('./templates/header.ejs')%>
    </head>
    <body style="background-color: rgba(76, 199, 230, 0.6);">

        <nav class="navbar navbar-light" style="background-color: white;">
            <%-include('./templates/navMain.ejs')%>
        </nav>
        
        <main><br>
            <div class="container" style="background-color: white; width: 50%; border:10px solid transparent">
                <h3 style="text-align: center;">Recuperar Contraseña</h3><br>
                <form class="form-group" method="post">
                    <div class="mb-3">
                        <label for="user" class="form-label" style="font-size: 20px;">Usuario</label>
                        <input type="text" class="form-control" id="user" name="user">
                    </div><br>
                    <div class="mb-3">
                        <label for="document" class="form-label" style="font-size: 20px;">N° de Documento</label>
                        <input type="number" class="form-control" id="document" name="document">
                    </div><br>
                    <div class="row">
                        <div class="col-4" style="text-align: center;">        
                            <a href="/login" style="font-size: 18px;">Iniciar sesión</a>
                        </div>
                        <div class="col-4"></div>
                        <div class="col-4" style="text-align: right;">
                            <button type="submit" class="btn btn-primary" style="background-color: #48DBD2; border-color: #48DBD2; color: black; font-size: 20px;">
                                Enviar
                            </button>
                        </div>
                    </div><br>
                </form>
                <br><br>
            </div>
        </main>
        <footer class="footer" style="position: relative; bottom:0; left: 0; width: 100%; height: 50px; background-color: #16254C;">
            <%-include('./templates/footer.ejs')%>
        </footer>
    </body>
</html>