<div class="container-fluid">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link <%= currentPage === 'admMain' ? 'active' : '' %>" href="/admMain">Principal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%= currentPage === 'managementDoctor' ? 'active' : '' %>" href="/managementDoctor">Gestión Personal Médico</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%= currentPage === 'assigment' ? 'active' : '' %>" href="/assigment">Realizar Asignación Consultorios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%= currentPage === 'seeAsigment' ? 'active' : '' %>" href="/seeAsigment">Ver Asignación Consultorios</a>
        </li>
      </ul>
</div>