<% for(const doctor of data){%>
    <tr>
        <td><%=doctor.documento_identidad%></td>
        <td><%=doctor.registro_medico%></td>
        <td><%=doctor.nombre%></td>
        <td><%=doctor.especialidad%></td>
        <td class="text-center"><button type="button" class="btn btn-info">Editar</button></td>
    </tr>
<%}%>